<form [formGroup]="form" (submit)="submit()">
  <div class="content">
    <div class="titleStyle">Constact US</div>
    <div class="labelStyle"> Kind of request</div>
    <p-dropdown [options]="this.menuItems" placeholder="Select Kind of Request" formControlName="kindOfRequestId" [showClear]="true">
    </p-dropdown>
    <div class="labelStyle"> Policy number</div>
    <input type="text" pInputText formControlName="policyNumber" [pKeyFilter]="wantedCharsAlphanumeric" pInputText>
    <div class="labelStyle"> Name</div>
    <input type="text" pInputText formControlName="name" [pKeyFilter]="wantedCharsAlphabetic">
    <div class="labelStyle"> Surname</div>
    <input type="text" pInputText formControlName="surname" [pKeyFilter]="wantedCharsAlphabetic">
    <div class="labelStyle"> Your request</div>
    <textarea [rows]="5" [cols]="30" pInputTextarea formControlName="requestMessage" [maxLength]=textAreaMaxLength ></textarea>
    <div class="currentLengthStyle">{{getRemainedCharsToMaximum()}}/{{textAreaMaxLength}}</div>
    <div class="buttonStyle">
    <button  type="submit" pButton label="SEND REQUEST"></button>
    </div>
  </div>
</form>
